@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANSans-Bold-web.eot');
    src: url('../fonts/IRANSans-Bold-web.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans-Bold-web.woff2') format('woff2'),
        /* Chrome36+, Opera24+*/
        url('../fonts/IRANSans-Bold-web.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans-Bold-web.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/IRANSans-Medium-web.eot');
    src: url('../fonts/IRANSans-Medium-web.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans-Medium-web.woff2') format('woff2'),
        /* Chrome36+, Opera24+*/
        url('../fonts/IRANSans-Medium-web.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans-Medium-web.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IRANSans-Light-web.eot');
    src: url('../fonts/IRANSans-Light-web.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans-Light-web.woff2') format('woff2'),
        /* Chrome36+, Opera24+*/
        url('../fonts/IRANSans-Light-web.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans-Light-web.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/IRANSans-UltraLight-web.eot');
    src: url('../fonts/IRANSans-UltraLight-web.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans-UltraLight-web.woff2') format('woff2'),
        /* Chrome36+, Opera24+*/
        url('../fonts/IRANSans-UltraLight-web.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans-UltraLight-web.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSans-web.eot');
    src: url('../fonts/IRANSans-web.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans-web.woff2') format('woff2'),
        /* Chrome36+, Opera24+*/
        url('../fonts/IRANSans-web.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans-web.ttf') format('truetype');
}

body {
    font-family: IRANSans;
    font-weight: 500;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: rgb(156, 156, 156) rgb(209, 209, 209);
    scrollbar-width: thin;
}

.chat-background {
    background-image: url(./img/index.svg);
    background-attachment: fixed;
}

.admin-massage::after {
    content: '';
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    position: absolute;
    background-color: white;
    bottom: 0;
    right: -10px;
    width: 16px;
    height: 16px;
    display: block;
}

.customer-massage::after {
    content: '';
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;
    background-color: #5A8DEE;
    bottom: 0;
    left: -10px;
    width: 16px;
    height: 16px;
    display: block;
}

.select2-dropdown {
    z-index: 99999 !important;
    font-size: small;
    text-align: right;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgb(209, 209, 209);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(156, 156, 156);
    ;
}

.link-icon:hover .more-info {
    display: flex !important;
}

.ticket-link-icon:hover .ticket-more-info {
    display: flex !important;
}


@media screen and (min-width:1300px) {
    .ticket-list {
        height: 100% !important;
    }
}

@media screen and (min-width:768px) {
    .scroller {
        max-height: calc(100vh - 48px);
        overflow-y: auto;
    }
}